
body{
	background: #fff url(../productImages/belo.png);
}

.panel {
	margin-bottom:0px;
	border: 5px solid ;
}

.panel-body {
    
    background: #fff url(../productImages/belo.png);
}

.panel-footer {
    background-color: #337ab7;
}

#cart_product {
	color:black;
}

#cart_checkout{
	color:black;

}

.dropdown-menu {
	padding: 0px;

}
